body
{

    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    background-color: lightcoral;


}

.d0
{

    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    background-color: blue;

}

.d1
{

    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    background-color: aqua;

}


.d2
{

    width: 100%;
    height: 54%;
    display: flex;
    flex-direction: row;
    background-color: aqua;

}

.d21
{

    width: 25%;
    height: 100%;
    background-color: plum;

}

.d22
{

    width: 25%;
    height: 100%;
    background-color: palegreen;
    display: flex;
    justify-items: center;
    align-items: center;


}

.d23
{

    width: 25%;
    height: 100%;
    background-color: peru;
    color: yellow;
    font-family:  'AuX DotBitC Xtra SmallCaps', sans-serif;
    font-size: 34px;

}

.d24
{

    width: 25%;
    height: 100%;
    background-color: yellow;
}

.d3 
{

 width: 100%;
 height: 26%;
 background-color: green;
    
}