
body
{
  overflow: hidden;
}
.texto1
    {
    position: absolute;
    color: white;
    top: 45%;
    left: 40%;
    animation: bounceInUp 4s;


    }
    .titulo
    {
        position: absolute;
        top: -20%;
        left: 6%;
        animation: rubberBand 4s;
        animation: bounceInDown 4s;
       
}
   
      
   
        .titulo2
        {
        position: absolute;
        top: 17%;
        left: 39%;
        animation: rubberBand 4s;
        animation: bounceInUp 4s;


        }
   
    .discneymar
    {
        position: absolute;
        top: 45%;
        left: 25%;  
        animation: bounceInUp 4s;
    }
   
    .planeta
    {
        position: absolute;
        height: 8%;
        left: 62%;
        top: 15%;
        animation: fadeInRightBig 4s;
    }
   
    .planeta2
    {
        position: absolute;
        height: 8%;
        left: 33%;
        top: 15%;  
        animation: fadeInLeftBig 4s;
    }
   .disquete
   {
       position: absolute;
       height: 15%;
       left: 5%;
       top: 33%;
       animation: fadeInLeftBig 4s;
       
   }


   .disquete2
   {
       position: absolute;
       height: 15%;
       left: 75%;
       top: 33%;
       animation: fadeInRightBig 4s;
     
   }
   