body
{
  overflow: hidden;
}
.titulo
    {
        position: absolute;
        top: -20%;
        left: 6%;
        animation: rubberBand 4s;
        animation: bounceInDown 4s;
       
}
footer {
  padding: 50px;
  text-align: center;
  color: white;
  position: absolute;
  width: 90%; 
  line-height: 100px;
  top: 535px;
  animation: bounceInUp 4s;
}
  .NeymarGoldPlus
  {
    position: absolute;
    top: 165px; 
    left: 315px; 
    padding: 50px;
    text-align: center;
    color: white;
    animation: fadeInLeftBig 4s;
  }
  .VeridianoGigabyte
   {
    position: absolute;
    top: 165px; 
    left: 525px; 
    padding: 50px;
    text-align: center;
    color: white;
    animation: fadeInLeftBig 4s;
    
   }
   .Estampa_Genérica
   {
    position: absolute;
    top: 165px; 
    left: 835px; 
    padding: 50px;
    text-align: center;
    color: white;
    animation: fadeInLeftBig 4s;
   }
   
   
   .FafasLalau
    {
      position: absolute;
      top: 165px; 
      left: 1059px;  
      animation: fadeInLeftBig 4s; 
    }
    .Germano
   {
    position: absolute;
    top: 375px; 
    left: 370px;  
    animation: fadeInLeftBig 4s;
   }
  .GuduLegal
   {
    position: absolute;
      top: 370px; 
      left: 560px;  
      animation: fadeInLeftBig 4s;
   }
   .Colorido
   {
    position: absolute;
      top: 375px; 
      left: 875px;  
      animation: fadeInLeftBig 4s;
   }
   .Estiloretrô
   {
    position: absolute;
      top: 375px; 
      left: 1055px ;  
      animation: fadeInLeftBig 4s;
   }

  .discneymar
    {
        position: absolute;
        top: 150px; 
        left: 399px;  
        animation: fadeInLeftBig 4s;
    
    }
    
    .disquete-veridiano
    {
      position: absolute;
      top: 150px; 
      left: 550px;  
      animation: fadeInLeftBig 4s;
    }
    .disqueteestampa
    {
      position: absolute;
      top: 150px; 
      left: 850px;  
      animation: fadeInLeftBig 4s;
    }
    .disquete-fafase-lalau
    {
      position: absolute;
      top: 150px; 
      left: 1050px;  
      animation: fadeInLeftBig 4s;
    }
    .germanodisk
    {
      position: absolute;
      top: 350px; 
      left: 350px;  
      animation: fadeInLeftBig 4s;
    }
    .disquete-ratuedisk-gudulegal
    {
      position: absolute;
      top: 350px; 
      left: 550px;  
      animation: fadeInLeftBig 4s;
    }

    .disquete-Colorido
    {
      position: absolute;
      top: 350px; 
      left: 899px;  
      animation: fadeInLeftBig 4s;
    }
  
    .disquete-retrodisk
    {
      position: absolute;
      top: 350px; 
      left: 1049px;  
      animation: fadeInLeftBig 4s;
    }
  table, th, td {
    border:px solid rgb(255, 255, 255);
  }

  .a2:link {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }
  .a2:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }
  
  .a2:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  } 
  